.wrapper {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 8px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.wrap_input {
    border: 1px solid #ccc;
    flex: 1;
    margin-right: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.icon_seach {
    font-size: 1.5rem;
    opacity: 0.6;
    margin: 0 8px;
}
.input {
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
}
.seach_action {
    background-color: rgb(142, 116, 67);
    height: 35px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
}
.body {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-top: 20px;
    text-align: left;
}
.title_body {
    font-size: 1.5rem;
}
.content {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}
.item {
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    margin-right: 8px;
}
