@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    .Toastify__toast-body > div:last-child {
        color: red;
        font-size: 1.3rem;
    }
}
