.wrap {
    text-align: center;
}
.title {
    font-size: 2rem;
    margin: 40px 0;
}
.input {
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
    width: 400px;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 10px;
}
.option_footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 40px 0;
    align-items: center;
}
.item_footer_img {
    margin-top: 40px;
}
.item_footer {
    padding: 5px 10px;
    border-right: 1px solid #ccc;
    font-size: 1.3rem;
}
.notborder {
    border: none;
    display: flex;
}
.iconfooter {
    margin-right: 10px;
}
.text_footer_item {
    margin: 8px;
    font-size: 1.4rem;
}
.img_donw {
    margin-right: 8px;
}

@media only screen and (max-width: 480px) {
    .img_donw {
        width: 140px;
    }
    .input {
        width: 50%;
    }
    .title,
    .option_footer,
    .item_footer_img {
        margin: 20px 0;
    }
    .title {
        font-size: 1.8rem;
    }
}

.fix_wrapper {
    position: fixed;
    z-index: 9999;
    display: flex;
    height: 8vh;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.fix_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    & p {
        font-size: 1.3rem;
    }
}
